<article class="panel panel-default">
  <div class="panel-body description">
    <p class="pull-left"><strong>{{ task.task_description | shorten }}</strong></p>
  </div>
  <footer class="panel-footer">
    <div class="config">
      <button class="btn btn-primary" (click)="onEdit()">Edit</button>
      <button class="btn btn-primary" (click)="onDelete()">Delete</button>
    </div> 
    <hr>
    <textarea #textAreaContent (click)="clearTextArea()" class="form-control" rows="4" cols="20">{{ defaultTextAreaContent }}</textarea>
  </footer>
</article>