button {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border-color: #000;
    border-radius: 0%;
}

button:hover {
    color: #000;
    background-color: transparent;
    border-color: #000000;
}