* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 2;
 }

 .navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

body {
    background: #333;
}